@import 'nib'

.polaroid
  width 150px
  padding 10px 10px 20px 10px
  border: 1px solid #BFBFBF
  background-color white
  box-shadow 2px 2px 3px rgba(135, 139, 144, 0.4)

a.polaroid

  -webkit-transform rotate(10deg)
  -webkit-transition -webkit-transform 0.5s ease-in

a.polaroid:hover,
a.polaroid:focus,
a.polaroid:active
  -webkit-transform rotate(0deg)




